header, nav, section, article, aside, footer {
	display: block;}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font: 75% tahoma, Verdana, Arial, sans-serif;
	line-height: 1.8em;}
.logo{
	background:url('../image/logo.png') no-repeat;
	width:233px;
	height:74px;
	z-index: 999;}
#wrapper {
	width: 500px;
	margin: 0 auto;}
input.auth {
	width: 250px;}
input[type=submit] {
	width: 125px;}