header, nav, section, article, aside, footer { display: block; }
body { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	font: 75% tahoma, Verdana, Arial, sans-serif; 
	line-height: 1.8em; 
	background: #fff;}
#header { 
	position: fixed; 
	background: #fff; 
	height: 100px; 
	z-index: 998; 
	width: 100%; }
#filter { 
	width: 290px; 
	background: #fff; 
	text-align: left; }
#wrapper { 
	width: 100%; 
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
	padding: 0; 
	position: relative;}
#wrapper:after{ 
	content: ' '; 
	display: block; 
	clear: both; 
	height: 0; }
#contentleft { 
	float: left; 
	position: fixed; 
	top: 100px; 
	width: 250px; 
	height: 1%; }
#contentright { 
	float: left; 
	position: absolute; 
	top: 100px; 
	left: 0; 
	padding-left: 260px; 
	display: block; 
	height: 100%; 
	background: #fff; }
#after { 
	background: #dcdcdc; 
	color: #333; 
	height: 30px; 
	line-height: 30px; 
	display: block;}
#box #open1 { background: #fff; }
#box #open2 { background: #fff; }
#box #open3 { background: #fff; }
#box .window { 
	display: none; 
	border: 1px solid #000; 
	position: absolute; 
	top: 0; 
	left: 0; 
	padding: 10px; 
	z-index: 9999; }
#mask { 
	background: #aaa; 
	position: absolute; 
	z-index: 9000; 
	display: none; 
	left: 0; 
	top: 0; }
#wrapper{ 
	position:relative; 
	margin:0 auto; 
	width: 100%; 
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
	text-align: left; }
#table { width: 100%; }
ul { 
	list-style: none; 
	font-size: 12px; 
	margin: 0 auto; 
	padding: 0; }
li { 
	float: left; 
	margin-right: 4px; 
	height: 19px; 
	overflow: hidden; 
	text-align: center; 
	color: #fff; 
	padding-top: 3px; 
	padding-right: 10px; }
li a { 
	color: #fff; 
	text-decoration: underline; 
	top: 0; 
	left: 0; 
	display: inline inline; 
	text-align: center; 
	width: 23px; 
	height: 22px; 
	padding-top: 3px; }
li a:link, li a:visited { 
	color : #fff; 
	background : inherit; 
	text-decoration : underline; }
li a:hover { 
	color : #fff; 
	background : inherit; 
	text-decoration : none; }
table { 
	margin-top: 24px;
	margin-bottom: -24px;}
thead { 
	height: 24px; 
	top: 100px; 
	background: #ccc; }
tbody { 
	margin-bottom: -30px; }
span { cursor: pointer; }
span.deal_check_box { 
	width: 150px; 
	display: block; 
	color: #000; }
div.filter_deal{ text-align: center; }
.enter { 
	background: #eee; 
	cursor: pointer; }
.select { 
	background: #993333; 
	color: #fff; 
	border: 1px solid #fff; }
.submit { 
	border: 1px solid #fff; 
	background: #eee; 
	color: #999; 
	width: 250px; 
	cursor: pointer; 
	margin-bottom: 3px; 
	text-align: center; }
.submit:hover { background: #bbb; }
.submit:active { background: #bbb;}
.submit_down { background: #ccc; }
.status_1 { 
	background: #9999ff; 
	border: 1px solid #999; }
.status_2 { 
	background: #99ff99; 
	border: 1px solid #999; }
.status_3 { 
	background: #ff9999; 
	border: 1px solid #999; }
.status_4 { 
	background: #ffff99; 
	border: 1px solid #999; }
.status_5 { 
	background: #99ffff; 
	border: 1px solid #999; }
.status_6 { 
	background: #ff99ff; 
	border: 1px solid #999; }
.menu{ 
	position: fixed; 
	top:0; 
	left: 0; 
	height: 30px; 
	background:#000; 
	text-align: center; 
	width:100%; }
.logo{ 
	background:url('/image/logo.png') no-repeat; 
	position:absolute; 
	width:233px; 
	height:74px; 
	top: 1px; 
	z-index: 999; 
	right:250px; }
.tool{ 
	background: #ccc; 
	color: #000; 
	margin: 0 3px 3px 5px; }
.task{ 
	position: fixed; 
	right: 0; 
	bottom: 0; 
	width: 250px; }
.header_task{ 
	height: 20px; 
	background: #ccd; 
	color: #000; 
	border-bottom: 1px solid #ccc; }
.article_task{ background: #ccd; }
.more_task { cursor: pointer; }
.add{ width: 250px; }